package views

import "alaricode/go-fiber/views/components"
import "alaricode/go-fiber/views/layout"

templ Main() {
	<main>
	@layout.Header() {
		@components.Title("Найди работу своей мечты")
		@components.SubTitle("Простой поиск работы")
	}
	Main
	</main>
}